[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
streamlit = "*"
nltk = "*"
matplotlib = "*"
pickle5 = "*"
scikit-learn = "*"
pdfplumber = "*"
tika = "*"
ffmpeg = "*"



[dev-packages]

[requires]
python_version = "3.8"
