ffmpeg
folium
fuzzywuzzy
geopandas
leafmap
matplotlib
moviepy
nltk
numpy
pandas
pdfplumber
pickle5
Pillow
plotly
pydub
scikit_learn
SpeechRecognition
streamlit
streamlit_authenticator
streamlit_option_menu
tika
