ffmpeg==1.4
folium==0.12.1.post1
fuzzywuzzy==0.18.0
geopandas==0.10.2
leafmap==0.9.2
matplotlib==3.2.2
moviepy==1.0.3
numpy==1.22.3
pandas==1.0.5
pdfplumber==0.6.0
pickle5==0.0.11
Pillow==9.1.0
plotly==5.7.0
pydub==0.25.1
scikit_learn==1.0.2
SpeechRecognition==3.8.1
streamlit==1.8.1
tika==1.24

